<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="EmailSmtpUrl" value="smtp.secret.ru"/>
    <add key="EmailSmtpPort" value="587"/>
    <add key="EmailLogin" value="no-reply@secret.ru"/>
    <add key="EmailPassword" value="sercetPassword"/>
    <add key="SmtpSslEnabled" value="True"/>
    <add key="SystemEmailAddress" value="no-reply@secret.ru"/>
    <add key="SystemEmailSenderName" value="Secret Satan"/>
  </appSettings>
</configuration>
